---
---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/galleria" />
    <meta name="robots" content="noindex" />
    <title>Redirecting…</title>
  </head>
  <body>
    <p>Redirecting to <a href="/galleria">La Galleria</a>…</p>
  </body>
</html>
